@import 'tailwindcss';

:root {
  --light: #f2f2f1;
  --dark: #171717;

  --highlight-dark: color-mix(in srgb, var(--dark) 10%, var(--light) 90%);
  --highlight-light: color-mix(in srgb, var(--light) 10%, var(--dark) 90%);

  --transparent-dark: color-mix(in srgb, var(--dark) 90%, var(--light) 0);
  --transparent-light: color-mix(in srgb, var(--light) 90%, var(--dark) 0%);

  --accent-dark: color-mix(in srgb, var(--dark) 5%, var(--light) 90%);
  --accent-light: color-mix(in srgb, var(--light) 5%, var(--dark) 90%);
}

html[data-theme='light'] {
  --background: var(--light);
  --foreground: var(--dark);
  --highlight: var(--highlight-dark);
  --accent: var(--accent-dark);
  --transparent: var(--transparent-light);
}

html[data-theme='dark'] {
  --background: var(--dark);
  --foreground: var(--light);
  --highlight: var(--highlight-light);
  --accent: var(--accent-light);
  --transparent: var(--transparent-dark);
}

@media (prefers-color-scheme: dark) {
  html[data-theme='system'] {
    --background: var(--dark);
    --foreground: var(--light);
    --highlight: var(--highlight-light);
    --accent: var(--accent-light);
    --transparent: var(--transparent-dark);
  }
}

@media (prefers-color-scheme: light) {
  html[data-theme='system'] {
    --background: var(--light);
    --foreground: var(--dark);
    --highlight: var(--highlight-dark);
    --accent: var(--accent-dark);
    --transparent: var(--transparent-light);
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--foreground);
  line-height: 1;
  transition: background 0.5s ease;
  transition: color 1s ease;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

body {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
}
