.Popup {
  z-index: 999999999999999;
}

.PopupItself {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--background);
}

.TriggerOff,
.TriggerOn {
  background-color: var(--foreground);
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
}

.TriggerOn {
  background-color: var(--background);
  outline: 1px solid var(--highlight);
}

.Nav {
  flex-grow: 1;
}
